@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

@layer base {
  html {
    font-family: 'Ubuntu', sans-serif;
    background: rgb(25, 25, 25);
  }
}

@layer components {
  .menu-name {
    @apply hover:cursor-pointer focus:scale-110 hover:scale-125 ease-in duration-300 font-poiret;
  }
  .menu-card {
    @apply place-self-start flex flex-col items-center mx-auto lg:ml-3 w-[22rem] md:w-[23rem] border border-white rounded-md min-h-[90vh] lg:min-h-[38rem] pt-12 z-10;
  }

  .fast-choice-menu {
    @apply text-white bg-stone-800 shadow-[0_0_30px_0px_rgba(255,255,255,0.6)] w-[330px] mx-auto px-4 py-12 gap-10 rounded-md border border-white relative;
  }
}



.gray-gradient {
    background: rgb(154,154,154);
    background: linear-gradient(90deg, rgba(154,154,154,1) 0%, rgba(151,151,167,0.8197872899159664) 48%, rgba(0,212,255,0) 100%);
}

.pulsate {
    -webkit-animation: pulsate 5s ease-in;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.7;
}

.neon-text {
    color: #fff;
    text-shadow:
        0 0 7px rgba(255, 255, 255, 0.78),
        0 0 10px rgba(255, 255, 255, 0.829),
        0 0 21px rgba(255, 255, 255, 0.686),
        0 0 42px rgba(238, 238, 238, 0.337),
        0 0 82px rgba(228, 228, 228, 0.286),
        0 0 92px rgba(227, 227, 227, 0.395),
        0 0 102px rgba(235, 235, 235, 0.34),
        0 0 151px rgb(239, 239, 239);
  }


@-webkit-keyframes pulsate {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.7;
    }
}


.collapse-open {
    animation: bounce-in .200s ease-out;
}
.collapse-close {
    animation: bounce-out .300s ease-out;
}

@keyframes bounce-in {
    0%    {opacity: 0;   transform: scale(0.5);}
    100%  {opacity: 1;   transform: scale(1);}
}
@keyframes bounce-out{
    0%    {opacity: 1;   transform: scale(1);}
    100%  {opacity: 0;   transform: scale(0.5);}
}

.glassmorphism-black {
  background: rgba( 0, 0, 0, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism-yellow {
  background: rgba( 248, 197, 28, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism-pink {
  background: rgba( 185, 15, 70, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 11.5px );
  -webkit-backdrop-filter: blur( 11.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.glassmorphism-brown {
  background: rgba( 131, 65, 9, 0.3 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  */
  backdrop-filter: blur( 1px );
  -webkit-backdrop-filter: blur( 1px );
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}



