@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@layer base {
  html {
    font-family: 'Ubuntu', sans-serif;
  }
}


.gray-gradient {
    background: rgb(154,154,154);
    background: linear-gradient(90deg, rgba(154,154,154,1) 0%, rgba(151,151,167,0.8197872899159664) 48%, rgba(0,212,255,0) 100%);
}

.pulsate {
    -webkit-animation: pulsate 5s ease-in;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.7;
}

.neon-text {
    color: #fff;
    text-shadow:
        0 0 7px rgba(255, 255, 255, 0.78),
        0 0 10px rgba(255, 255, 255, 0.829),
        0 0 21px rgba(255, 255, 255, 0.686),
        0 0 42px rgba(238, 238, 238, 0.337),
        0 0 82px rgba(228, 228, 228, 0.286),
        0 0 92px rgba(227, 227, 227, 0.395),
        0 0 102px rgba(235, 235, 235, 0.34),
        0 0 151px rgb(239, 239, 239);
  }


@-webkit-keyframes pulsate {
    0% {
        opacity: 0.7;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.7;
    }
}


.collapse-open {
    animation: bounce-in .200s ease-out;
}
.collapse-close {
    animation: bounce-out .300s ease-out;
}

@keyframes bounce-in {
    0%    {opacity: 0;   transform: scale(0.5);}
    100%  {opacity: 1;   transform: scale(1);}
}
@keyframes bounce-out{
    0%    {opacity: 1;   transform: scale(1);}
    100%  {opacity: 0;   transform: scale(0.5);}
}

